<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <%- include('components/script') %>
</head>

<body>


  <div class="flex items-center justify-center min-h-screen" style="margin-top: 20px;">
    <!-- Card -->
    <div class=" shadow-lg rounded-lg p-8 max-w-md w-full" style="background-color: #2a2a2a;">
      

     
        <form class="max-w-sm mx-auto" action="/register" method="post">
          <h1 style="font-size: 30px; margin: 20px;"> Register New Account</h1>
          <div class="mb-5">
            <label for="Username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Username</label>
            <input type="text" id="Username"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              name="username" />
              <% if (errors) { %>
                <span class="text-sm text-red-500 ml-2"><%= errors[0] %></span>
              <% } %>
    
          </div>
          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Email</label>
            <input type="email" id="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              name="email" />
              <% if (errors) { %>
                <span class="text-sm text-red-500 ml-2"><%= errors[1] %></span>
              <% } %>
    
          </div>
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" id="password"
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                  name="password" />
                  <% if (errors) { %>
                    <span class="text-sm text-red-500 ml-2"><%= errors[2] %></span>
                  <% } %>
    
          </div>
    
    
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
              <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                name="role">
                <% const arr=["user","admin"] %>
                  <option value=""></option>
                  <% arr.forEach(element=> { %>
                    <option value="<%= element %>">
                      <%= element %>
                    </option>
    
                    <% }) %>
    
              </select>
              <% if (errors) { %>
                <span class="text-sm text-red-500 ml-2"><%= errors[3] %></span>
              <% } %>
    
    
              <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full"
                style="margin-top: 20px;">Register</button>
    
        </form>
    
    
    </div>
  </div>



</body>

</html>